* {
    box-sizing: border-box;
}
    
body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0%;
    
}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px rgba(0,0,0,0.7);
    color: white;
    background-color: blueviolet;
}

button:hover {
    background-color: rgb(85, 27, 139);
    box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.5);
}

.conteiner {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: rgb(240,240,240);
}
 
header .logo {
    margin: 0%;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 2.40em;
}
header .conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .nav {
    display: flex;
    flex-direction: initial;
    text-align: center;
    padding-bottom: 25px; 
    border-radius: 5px;
    
    
     
}
header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    
}

#hero {
    background-color: black;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#titulo{
    color: aliceblue;
}


#tecnologia {
    margin-top: 40px;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    background-color: rgb(30,30,30);
    color: white;
    
    
    /* padding: 50px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}
.articulo img{
    width: 400px;
    height: 200px;
}
.articulo{
    margin-bottom: 40px;
    display: flex;
    padding-left: 40px;
    flex-direction: row ;
    /* justify-content: center; */
}

#tecnologia h2{

    margin-left: 40px;
}


.titulo {
    margin-left: 20px;
    padding: 0px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.titulo button{
    width: 70px;
    font-size: small;
    /* margin-left: 70px; */
}

 h3{
    /* font-size: medium; */
    margin-right: 10px;
    margin-bottom: 30px;

}
.parrafo {
    padding: 20px;
    
}

